<launch>
  <!--node pkg="ocl" name="wam_rtt" launch-prefix="screen" type="deployer-xenomai" args="-s $(find bard_components)/scripts/wam_test.ops "/-->
  <node pkg="ocl" name="wam_rtt" type="deployer-$(env OROCOS_TARGET)" args="-s $(find bard_simulation)/scripts/wam_stub_test.ops --" output="screen"/>

  <group ns="wam_rtt">

    <!-- Parameters for WAM RTT device -->
    <group ns="wam_left">
      <include file="$(find bard_simulation)/launch/left_params.launch"/>
      <rosparam param="initial_positions">{Element0: 0.0, Element1: rad(-pi/2), Element2: 0.0, Element3: rad(pi), Element4: 0.0, Element5: 0.0, Element6: 0.0}</rosparam>
      <param name="coriolis_enabled" value="true"/>
      <param name="gravity_enabled" value="true"/>
      <rosparam param="gravity">{Element0: -9.8, Element1: 0.0, Element2: 0.0}</rosparam>
      <rosparam param="damping">{Element0: 0.3, Element1: 0.3, Element2: 0.3, Element3: 0.3, Element4: 0.1, Element5: 0.1, Element6: 0.1}</rosparam>

      <param name="joint_state_throttle_period" value="0.01"/>

      <!-- Publish TF Frames for all the joints -->
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    </group>
  </group>
</launch>
