<launch>
  <!-- Launchfile Arguments (optional)-->
  <arg name="robot_name" default="wam"/>

  <group ns="$(arg robot_name)">
    <!-- Simulation Options -->
    <param name="coriolis_enabled" value="true"/>
    <param name="gravity_enabled" value="true"/>
    <rosparam param="gravity">{Element0: -9.8, Element1: 0.0, Element2: 0.0}</rosparam>
    <rosparam param="damping">{Element0: 0.3, Element1: 0.3, Element2: 0.3, Element3: 0.3, Element4: 0.1, Element5: 0.1, Element6: 0.1}</rosparam>

    <!-- State publisher to publish TF Frames for all the joints -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  </group>
</launch>
