<launch>
  <!-- Launchfile Arguments (optional)-->
  <arg name="robot_name" default="wam"/>
  <arg name="robot_params_file" default="$(find bard_component_interfaces)/launch/wam_7dof_params.launch"/>

  <!-- Parameters for controller mux -->
  <group ns="$(arg robot_name)_mux">
    <param name="joint_state_throttle_period" value="0.05"/>
    <include file="$(arg robot_params_file"><arg name="robot_name" value="$(arg robot_name)"/></include>
  </group>

  <!-- Parameters for trivial controller -->
  <group ns="$(arg robot_name)_trivial">
    <include file="$(arg robot_params_file"><arg name="robot_name" value="$(arg robot_name)"/></include>
  </group>

  <!-- Parameters for jointspace PID controller -->
  <group ns="$(arg robot_name)_joint_pid">
    <include file="$(arg robot_params_file"><arg name="robot_name" value="$(arg robot_name)"/></include>
    <rosparam param="kp">{Element0: 250.0, Element1: 250.0, Element2: 250.0, Element3: 250.0, Element4: 15.0, Element5: 15.0, Element6: 0.5}</rosparam>
    <rosparam param="ki">{Element0: 0.0, Element1: 0.0, Element2: 0.0, Element3: 0.0, Element4: 0.0, Element5: 0.0, Element6: 0.0}</rosparam>
    <rosparam param="i_clamp">{Element0: 0.0, Element1: 0.0, Element2: 0.0, Element3: 0.0, Element4: 0.0, Element5: 0.0, Element6: 0.0}</rosparam>
    <rosparam param="kd">{Element0: 4.0, Element1: 4.0, Element2: 4.0, Element3: 4.0, Element4: 0.5, Element5: 0.5, Element6: 0.1}</rosparam>

    <!-- Publish TF Frames for the desired positions for all the joints -->
    <node name="ik_transform_publisher" pkg="tf" type="static_transform_publisher" args=" 0 0 0 0 0 0 /baseLink /joint_pid_des/baseLink 10"/>
    <param name="joint_state_throttle_period" value="0.05"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
      <param name="tf_prefix" value="joint_pid_des"/>
    </node>
  </group>

  <!-- Parameters for gravity compensation controller -->
  <group ns="$(arg robot_name)_joint_traj">
    <include file="$(arg robot_params_file"><arg name="robot_name" value="$(arg robot_name)"/></include>
  </group>

  <!-- Parameters for gravity compensation controller -->
  <group ns="$(arg robot_name)_grav">
    <rosparam param="gravity">{Element0: -9.8, Element1: 0.0, Element2: 0.0}</rosparam>
    <include file="$(arg robot_params_file"><arg name="robot_name" value="$(arg robot_name)"/></include>
  </group>

  <!-- Parameters for cartesian wrench controller -->
  <group ns="$(arg robot_name)_wrench">
    <rosparam param="kp">{Element0: 0.0, Element1: 0.0, Element2: 0.0, Element3: 0.0, Element4: 0.0, Element5: 0.0}</rosparam>
    <rosparam param="kd">{Element0: 0.0, Element1: 0.0, Element2: 0.0, Element3: 0.0, Element4: 0.0, Element5: 0.0}</rosparam>
    <param name="target_frame" value="/wam_target"/>
    <include file="$(arg robot_params_file"><arg name="robot_name" value="$(arg robot_name)"/></include>
  </group>

  <!-- parameters for joint pose controller -->
  <group ns="$(arg robot_name)_pose">
    <rosparam param="kp">{Element0: 1.0, Element1: 1.0, Element2: 1.0, Element3: 1.0, Element4: 0.5, Element5: 0.5, Element6: 0.2}</rosparam>
    <rosparam param="kd">{Element0: 0.0, Element1: 0.0, Element2: 0.0, Element3: 0.0, Element4: 0.0, Element5: 0.0, Element6: 0.0}</rosparam>
    <param name="target_frame" value="/wam_target"/>
    <include file="$(arg robot_params_file"><arg name="robot_name" value="$(arg robot_name)"/></include>
  </group>
</launch>
