<!--
 * COPYRIGHT (C) 2010
 * RE2, INC.
 *
 * Author: RE2
 *
 * This file is a part of RobotModel, which was developed for the
 * DARPA ARM ROBOT Track C project.
 *
 * RobotModel is free software:
 * you can redistribute it and/or modify it under the terms of the GNU General
 * Public License as published by the Free Software Foundation, either version
 * 3 of the License, or (at your option) any later version.
 *
 * You should have received a copy of the GNU General Public License along
 * with this package.  If not, see <http://www.gnu.org/licenses/>.
 *
 * RE2, INC. disclaims all warranties with regard to this software, including
 * all implied warranties of merchantability and fitness, in no event shall
 * RE2, INC. be liable for any special, indirect or consequential damages or
 * any damages whatsoever resulting from loss of use, data or profits, whether
 * in an action of contract, negligence or other tortious action, arising out
 * of or in connection with the use or performance of this software.
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <include filename="$(find bard_urdf)/models/hand.urdf.xacro"/>
  <include filename="$(find bard_urdf)/models/common.urdf.xacro"/>
  <include filename="$(find bard_urdf)/models/components.urdf.xacro"/>

  <xacro:macro name="darpa_arm" params="prefix parentLink xyz rpy">
    <xacro:Shoulder prefix="${prefix}" parentLink="${parentLink}" xyz="${xyz}" rpy="${rpy}"/>
    <xacro:UpperArmInShoulder prefix="${prefix}"/>
    <xacro:UpperArm prefix="${prefix}"/>
    <xacro:ForeArm prefix="${prefix}"/>
    <xacro:UpperWristYaw prefix="${prefix}"/>
    <xacro:UpperWristPitch prefix="${prefix}"/>
    <xacro:ForceTorque prefix="${prefix}"/>
    <xacro:LowerWristFTPalm prefix="${prefix}"/>

    <link name="${prefix}/WAM/PalmLink" />

    <joint name="${prefix}/WAM/PalmJoint" type="fixed">
      <parent link="${prefix}/WAM/LowerWristFTPalmLink"/>
      <child link="${prefix}/WAM/PalmLink"/>
      <!--             <origin xyz="0 0 0.1293166" rpy="0 0 0"/> -->
      <origin xyz="0 0 0.0793166" rpy="0 0 ${PI/2}"/>
    </joint>

    <xacro:darpa_hand prefix="${prefix}" />
  </xacro:macro>
</robot>
