<!--
 * COPYRIGHT (C) 2010
 * RE2, INC.
 *
 * Author: RE2
 *
 * This file is a part of RobotModel, which was developed for the
 * DARPA ARM ROBOT Track C project.
 *
 * RobotModel is free software:
 * you can redistribute it and/or modify it under the terms of the GNU General
 * Public License as published by the Free Software Foundation, either version
 * 3 of the License, or (at your option) any later version.
 *
 * You should have received a copy of the GNU General Public License along
 * with this package.  If not, see <http://www.gnu.org/licenses/>.
 *
 * RE2, INC. disclaims all warranties with regard to this software, including
 * all implied warranties of merchantability and fitness, in no event shall
 * RE2, INC. be liable for any special, indirect or consequential damages or
 * any damages whatsoever resulting from loss of use, data or profits, whether
 * in an action of contract, negligence or other tortious action, arising out
 * of or in connection with the use or performance of this software.
 * 
 * Modified for JHU Manipulation Robot: "Popeye" - Jonathan Bohren / jbo@jhu.edu 2012
-->

<robot name="left_wam"
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller">

  <!-- Some macros used by the WAM urdf -->
  <include filename="$(find bard_urdf)/models/common.urdf.xacro"/>
  <!-- Definition of a single WAM arm -->
  <include filename="$(find bard_urdf)/models/arm.urdf.xacro"/>
  <!-- Definition of all the different parts of a WAM arm -->
  <include filename="$(find bard_urdf)/models/components.urdf.xacro"/>

  <!-- Materials -->
  <material name="WAMGrey">
    <color rgba="0.9 0.9 0.9 1.0"/>
  </material>

  <!-- Root link is in the world frame-->
  <link name = "baseLink"/>

  <!-- Create the left WAM -->
  <link name = "LeftWAM/FixedLink" />
  <joint name="LeftWAM/FixedJoint" type="fixed">
    <parent link="baseLink"/>
    <child link="LeftWAM/FixedLink"/>
    <origin xyz="0.356 0.46 1" rpy="0 ${-0.5*PI} ${0.5*PI}"/>
  </joint>
  <xacro:wam_7dof prefix="LeftWAM" parentLink="LeftWAM/FixedLink" xyz="0 0 0" rpy="0 0 0" />
  <xacro:barrett_palm prefix="LeftWAM"/>
  <!--xacro:barrett_hand prefix="LeftWAM" /-->

  <!-- Simulation stuff -->
  <gazebo>
    <controller:gazebo_ros_controller_manager name="gazebo_ros_controller_manager" plugin="libgazebo_ros_controller_manager.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>1000.0</updateRate>
    </controller:gazebo_ros_controller_manager>
  </gazebo>
</robot>
