<!--
 * COPYRIGHT (C) 2010
 * RE2, INC.
 *
 * Author: RE2
 *
 * This file is a part of RobotModel, which was developed for the
 * DARPA ARM ROBOT Track C project.
 *
 * RobotModel is free software:
 * you can redistribute it and/or modify it under the terms of the GNU General
 * Public License as published by the Free Software Foundation, either version
 * 3 of the License, or (at your option) any later version.
 *
 * You should have received a copy of the GNU General Public License along
 * with this package.  If not, see <http://www.gnu.org/licenses/>.
 *
 * RE2, INC. disclaims all warranties with regard to this software, including
 * all implied warranties of merchantability and fitness, in no event shall
 * RE2, INC. be liable for any special, indirect or consequential damages or
 * any damages whatsoever resulting from loss of use, data or profits, whether
 * in an action of contract, negligence or other tortious action, arising out
 * of or in connection with the use or performance of this software.
-->

<robot name="dual_wam_robot"
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller">

  <include filename="$(find bard_urdf)/models/common.urdf.xacro"/>
  <include filename="$(find bard_urdf)/models/arm.urdf.xacro"/>
  <include filename="$(find bard_urdf)/models/components.urdf.xacro"/>

  <link name = "world"/>

  <xacro:base xyz="0 0 0.813372" rpy="0 0 0" parent="world"/>

  <link name = "cylinderLink">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <material name="WAMGrey" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${homeDirectory}/models/componentSTL/armBase.DAE"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${homeDirectory}/models/componentSTL/armBase.stl"/>
      </geometry>
    </collision>
  </link>
  <xacro:gazeboReferenceDAE name="cylinderLink" />

  <link name = "LeftWAM/FixedLink" />
  <link name = "RightWAM/FixedLink" />

  <joint name="cylinderJoint" type="fixed">
    <parent link="baseLink"/>
    <child link="cylinderLink"/>
    <origin xyz="0 0 0" rpy="${0.5 * PI} 0 -${0.5 * PI}"/>
  </joint>
  <joint name="rightFixedJoint" type="fixed">
    <parent link="baseLink"/>
    <child link="RightWAM/FixedLink"/>
    <origin xyz="-0.350177361 -0.350177361 .37836125" rpy="0 ${-0.5*PI} ${0.25*PI}"/>
  </joint>
  <joint name="leftFixedJoint" type="fixed">
    <parent link="baseLink"/>
    <child link="LeftWAM/FixedLink"/>
    <origin xyz="0.350177361 -0.350177361 .37836125" rpy="0 ${-0.5*PI} ${0.75*PI}"/>
  </joint>


  <gazebo>
    <controller:gazebo_ros_controller_manager name="gazebo_ros_controller_manager" plugin="libgazebo_ros_controller_manager.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>1000.0</updateRate>
    </controller:gazebo_ros_controller_manager>
  </gazebo>


  <xacro:darpa_arm prefix="RightWAM" parentLink="baseLink" xyz="-0.350177361 -0.350177361 .37836125" rpy="-${0.5 * PI} -${0.5 * PI} ${0.25*PI}" />
  <xacro:darpa_arm prefix="LeftWAM" parentLink="baseLink" xyz="0.350177361 -0.350177361 .37836125" rpy="-${0.5 * PI} -${0.5 * PI} ${0.75*PI}" />
  <xacro:darpa_head_assembly parent="baseLink" xyz="0 -.1292225 .52971" rpy="${0.5 * PI} 0 0"/>

</robot>
