<!--
 * COPYRIGHT (C) 2010
 * RE2, INC.
 *
 * Author: RE2
 *
 * This file is a part of RobotModel, which was developed for the
 * DARPA ARM ROBOT Track C project.
 *
 * RobotModel is free software:
 * you can redistribute it and/or modify it under the terms of the GNU General
 * Public License as published by the Free Software Foundation, either version
 * 3 of the License, or (at your option) any later version.
 *
 * You should have received a copy of the GNU General Public License along
 * with this package.  If not, see <http://www.gnu.org/licenses/>.
 *
 * RE2, INC. disclaims all warranties with regard to this software, including
 * all implied warranties of merchantability and fitness, in no event shall
 * RE2, INC. be liable for any special, indirect or consequential damages or
 * any damages whatsoever resulting from loss of use, data or profits, whether
 * in an action of contract, negligence or other tortious action, arising out
 * of or in connection with the use or performance of this software.
-->

<robot name="dual_wam_robot"
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller">

  <include filename="$(find bard_urdf)/models/common.urdf.xacro"/>
  <include filename="$(find bard_urdf)/models/arm.urdf.xacro"/>
  <include filename="$(find bard_urdf)/models/components.urdf.xacro"/>

  <!-- Materials -->
  <material name="WAMGrey">
    <color rgba="0.9 0.9 0.9 1.0"/>
  </material>


  <link name = "world"/>

  <xacro:macro name="base" params="xyz rpy parent">
    <link name ="baseLink">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="1.0" />
        <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
      </inertial>
      <visual>
        <material name="WAMGrey" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <!--box size="0.04 2.54 0.04"/-->
          <mesh filename="package://bard_urdf/models/componentSTL/bench_lattice.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://bard_urdf/models/componentSTL/baseLinkTwoArms.stl"/>
        </geometry>
      </collision>
    </link>
    <xacro:gazeboReferenceDAE name="baseLink"/>
    <joint name="baseJoint" type="fixed">
      <parent link="${parent}"/>
      <child link="baseLink"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>
  </xacro:macro>


  <xacro:base xyz="0 0 0.68" rpy="0 0 0" parent="world"/>

  <link name = "LeftWAM/FixedLink" />
  <link name = "RightWAM/FixedLink" />

  <joint name="rightFixedJoint" type="fixed">
    <parent link="baseLink"/>
    <child link="RightWAM/FixedLink"/>
    <origin xyz="0.346 -0.46 1" rpy="0 ${-0.5*PI} ${0.5*PI}"/>
  </joint>
  <joint name="leftFixedJoint" type="fixed">
    <parent link="baseLink"/>
    <child link="LeftWAM/FixedLink"/>
    <origin xyz="0.356 0.46 1" rpy="0 ${-0.5*PI} ${0.5*PI}"/>
  </joint>

  <gazebo>
    <controller:gazebo_ros_controller_manager name="gazebo_ros_controller_manager" plugin="libgazebo_ros_controller_manager.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>1000.0</updateRate>
    </controller:gazebo_ros_controller_manager>
  </gazebo>

  <!-- Construct the actual arms -->
  <xacro:wam_arm prefix="RightWAM" parentLink="RightWAM/FixedLink" xyz="0 0 0 " rpy="0 0 0" />
  <xacro:wam_arm prefix="LeftWAM" parentLink="LeftWAM/FixedLink" xyz="0 0 0" rpy="0 0 0" />

</robot>
