<launch>
  <!-- Launchfile Arguments (optional)-->
  <arg name="robot_name" default="wam"/>

  <group ns="$(arg robot_name)">
    <!-- Hardware Options -->
    <param name="can_dev_name" value="rtcan1"/>

    <!-- State publisher to publish TF Frames for all the joints -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  </group>
</launch>
