<launch>
  <!-- WAM Server -->
  <node pkg="barrett_hw" type="wam_server" name="wam_server"/>

  <!-- WAM Parameters -->
  <include ns="wam" file="$(find barrett_model)/launch/wam_7dof_params.launch"/>
  <rosparam name="wam/can_dev_name" value="rtcan1"/>

  <!-- Controllers -->
  <rosparam ns="wam">
    joint_state_controller:
      type: joint_state_controller/JointStateController
      publish_rate: 50
  </rosparam>
</launch>
