<launch>
  <!--node pkg="ocl" name="wam_rtt" launch-prefix="screen" type="deployer-xenomai" args="-s $(find bard_components)/scripts/wam_test.ops "/-->
  <node pkg="ocl" name="wam_rtt" type="deployer-xenomai" args="-s $(find bard_components)/scripts/wam_test.ops --" output="screen"/>

  <group ns="wam_rtt">
    <group ns="wam_left">
      <param name="n_wam_dof" value="7"/>
      <param name="can_dev_name" value="rtcan1"/>
      <param name="robot_description" command="$(find xacro)/xacro.py '$(find popeye)/models/left_wam.urdf.xacro'" />
      <param name="joint_prefix" value="LeftWAM"/>
      <param name="joint_state_throttle_period" value="0.01"/>
      <rosparam param="initial_positions">{Element0: 0.0, Element1: rad(-pi/2), Element2: 0.0, Element3: rad(pi), Element4: 0.0, Element5: 0.0, Element6: 0.0}</rosparam>

      <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    </group>
    <group ns="wam_left_con_grav">
      <param name="root_link" value="FixedLink"/>
      <param name="tip_link" value="LowerWristYawLink"/>
      <param name="joint_state_throttle_period" value="0.01"/>
    </group>
  </group>
</launch>
