<launch>
  <!--node pkg="ocl" name="wam_rtt" launch-prefix="screen" type="deployer-xenomai" args="-s $(find bard_components)/scripts/wam_test.ops "/-->
  <node pkg="ocl" name="wam_rtt" type="deployer-xenomai" args="-s $(find bard_components)/scripts/wam_test.ops --" output="screen"/>

  <group ns="wam_rtt">
    <group ns="wam_left">
      <param name="n_wam_dof" value="7"/>
      <param name="can_dev_name" value="rtcan0"/>
      <param name="robot_model_xml" command="$(find xacro)/xacro.py '$(find popeye)/models/left_wam.urdf.xacro'" />
      <param name="joint_prefix" value="DarmSim/LeftArm/WAM"/>
      <rosparam param="initial_positions">{Element0: 0.0, Element1: rad(-pi/2), Element2: 0.0, Element3: rad(pi), Element4: 0.0, Element5: 0.0, Element6: 0.0}</rosparam>
    </group>
    <group ns="wam_right">
      <param name="n_wam_dof" value="7"/>
      <param name="can_dev_name" value="rtcan1"/>
      <param name="robot_model_xml" command="$(find xacro)/xacro.py '$(find popeye)/models/right_wam.urdf.xacro'" />
      <param name="joint_prefix" value="DarmSim/RightArm/WAM"/>
      <rosparam param="initial_positions">{Element0: 0.0, Element1: rad(-pi/2), Element2: 0.0, Element3: rad(pi), Element4: 0.0, Element5: 0.0, Element6: 0.0}</rosparam>
    </group>
  </group>


  <!-- Publish TF frames between all the links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <remap from="joint_states" to="/wam_left/joint_states"/>
  </node>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find popeye)/models/left_wam.urdf.xacro'" />

</launch>
