<launch>
  <node pkg="ocl" name="wam_rtt" launch-prefix="screen" type="deployer-xenomai" args="-s $(find bard_components)/scripts/wam_test.ops --">
    <group ns="wam_left">
      <param name="n_wam_dof" value="7"/>
      <param name="can_dev_name" value="rtcan0"/>
      <param name="robot_model_xml" value="none"/>
      <param name="joint_prefix" value="DarmSim/LeftArm/WAM"/>
    </group>
    <group ns="wam_right">
      <param name="n_wam_dof" value="7"/>
      <param name="can_dev_name" value="rtcan1"/>
      <param name="robot_model_xml" value="none"/>
      <param name="joint_prefix" value="DarmSim/RightArm/WAM"/>
    </group>
  </node>
</launch>
