<launch>
  <!-- Launchfile Arguments (optional)-->
  <arg name="robot_name" default="wam"/>

  <group ns="$(arg robot_name)">
    <!-- Robot Model & Kinematics-->
    <!--param name="robot_description" command="$(find xacro)/xacro.py '$(find bard_urdf)/robots/wam_7dof_$(arg robot_name).urdf.xacro' robot_name:=$(arg robot_name)"/-->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find bard_urdf)/robots/wam_7dof_$(arg robot_name).urdf.xacro'"/>
    <param name="root_link" value="$(arg robot_name)/FixedLink"/>
    <param name="tip_link" value="$(arg robot_name)/LowerWristYawLink"/>

    <!-- Component Configuration -->
    <rosparam param="initial_positions">{Element0: 0.0, Element1: rad(-pi/2), Element2: 0.0, Element3: rad(pi), Element4: 0.0, Element5: 0.0, Element6: 0.0}</rosparam>
    <param name="joint_state_throttle_period" value="0.01"/>
  </group>
</launch>
